<script src="/assets/js/contact-form.js"></script>

<form id="contact-form"
      method="post"
      action="https://docs.google.com/forms/d/e/1FAIpQLSf7oa40S3vjdxbK6hn-KVz_sphbAUH5plt7zazpofsEAbyXSQ/formResponse">

  <label>Full Name</label>
  <input type="text" name="entry.608470329" required/>

  <label>Title (if applicable)</label>
  <input type="text" name="entry.1776411132"/>

  <label>Email</label>
  <input type="text" name="entry.797828966" required/>

  <label>Question, Inquiry, or Comment</label>
  <textarea name="entry.391722409" rows="8" required></textarea>

  <button type="submit">Submit</button>

</form>

<div id="contact-success" style="display:none;">
  <p><strong>Thank you for your message.</strong></p>
  <p>We will review and respond to your inquiry as soon as possible.</p>

  <button id="contact-reset-btn" type="button">
    View new form
  </button>
</div>
